<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lab Sample Database: Hosts</title>
        <style>
            table, th {
                text-align: left;
            }
        </style>
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>Hosts</h1>
        <table style="width:100%">
            <tr>
                <th>Code</th>
                <th>Species</th>
                <th>Sex</th>
                <th>Age group</th>
                <th>Capture year</th>
                <th>Capture site</th>
            </tr>
            <tr th:each="host : ${hosts}">
                <td><a th:href="@{~/samples/{code}(code=${host.code})}">
                        <span th:text="${host.code}">Code</span>
                    </a></td>
                <td><span th:text="${host.species}">Species</span></td>
                <td><span th:text="${host.sex}">Sex</span></td>
                <td><span th:text="${host.ageGroup}">Age group</span></td>
                <td><span th:text="${host.captureYear}">Capture year</span></td>
                <td><span th:text="${host.captureSite}">Capture site</span></td>
                <td><form method="POST" action="/hosts/deletehost">
                        <input type="hidden" name="code" th:value="${host.code}" />
                        <input type="submit" value="Delete"/>
                    </form></td>
            </tr>
        </table>

        <h2>Add new host</h2>

        <form method="POST" action="/hosts/addhost">
            <table>
                <tr>
                    <td>Code:</td>
                    <td><input type="text" name="code"/></td>
                </tr>
                <tr>
                    <td>Species:</td>
                    <td><input type="text" name="species"/></td>
                </tr>
                <tr>
                    <td>Sex:</td>
                    <td><input type="text" name="sex"/></td>
                </tr>
                <tr>
                    <td>Age group:</td>
                    <td><input type="text" name="ageGroup"/></td>
                </tr>
                <tr>
                    <td>Capture year:</td>
                    <td><input type="text" name="captureYear"/></td>
                </tr>
                <tr>
                    <td>Capture site:</td>
                    <td><input type="text" name="captureSite"/></td>
                </tr>
            </table>
            <input type="submit" value="Add"/>
        </form>
    </body>
</html>
