<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Samples from the host</title>
        <style>
            table, th {
                text-align: left;
            }
        </style>
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>Samples from the host <span th:text="${host.code}">Code of the host</span></h1>
        <p>
            Host species: <span th:text="${host.species}">Species</span></br>
            Host sex: <span th:text="${host.sex}">Sex</span></br>
            Host age group: <span th:text="${host.ageGroup}">Age group</span></br>
            Host capture year: <span th:text="${host.captureYear}">Capture year</span></br>
            Host capture site: <span th:text="${host.captureSite}">Capture site</span>
        </p>

        <table style="width:100%">
            <tr>
                <th>Sample code</th>
                <th>Organ</th>
                <th>DNA isolated</th>
                <th>RNA isolated</th>
            </tr>
            <tr th:each="sample : ${samples}">
                <td><span th:text="${sample.code}">Code</span></td>
                <td><span th:text="${sample.organ}">Organ</span></td>
                <td><span th:text="${sample.dnaIsolated}">DNA isolated</span></td>
                <td><span th:text="${sample.rnaIsolated}">RNA isolated</span></td>
                <td><form method="POST" action="/samples/deletesample">
                        <input type="hidden" name="sampleCode" th:value="${sample.code}" />
                        <input type="hidden" name="hostCode" th:value="${sample.hostCode}" />
                        <input type="submit" value="Delete"/>
                    </form></td>
            </tr>
        </table>

        <h2>Add new sample to host</h2>

        <form method="POST" action="/samples/addsample">
            Code: <input type="text" name="sampleCode"/><br/>
            <input type="hidden" name="hostCode" th:value="${host.code}" />
            Organ: <input type="text" name="organ"/><br/>
            DNA isolated: <input type="checkbox" name="dnaIsolated" /><br/>
            RNA isolated: <input type="checkbox" name="rnaIsolated" /><br/>

            <input type="submit" value="Add"/>
        </form>
        </br>

        <a th:href="@{~/hosts}">Back to host list</a>
    </body>
</html>
